/* GENERAL */
:root {
  --mf-color-white: white;
  --mf-bgcolor-lightblue: #1ABC9C; 
}

img {
  max-width: 100%;
}


/* /GENERAL */

/* UTILITY */
.mf-container {
  width: 60%;
  margin: 0 auto;
}

.mf-star::before {
  content: '';
  display: inline-block;
  height: 4px;
  width: 25%;
  border-radius: 10px;
  background-color: var(--mf-color-white);
}
.mf-star::after {
  content: '';
  display: inline-block;
  height: 4px;
  width: 30%;
  border-radius: 10px;
  background-color: var(--mf-color-white);
}

.bi-star-fill {
  font-size: 1.8rem;
}
/* /UTILITY */

/* HEADER */
header {
  background-color: #2c3e50;
  font-weight: 700;
}

.navbar-toggler.mf-custom {
  border: 1px solid white;
  font-size: 1rem;
}

.navbar-toggler-icon.mf-icon-custom {
  filter: invert(50%);
}

/* /HEADER */

/* MAIN */
section {
  margin-bottom: 50px;
}


.mf-jumbotron {
  height: 490px;
  background-color: var(--mf-bgcolor-lightblue);
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  color: var(--mf-color-white);
}

.mf-content-jumbo img{
  width: 250px;
  margin-bottom: 15px;
}

.mf-content-jumbo h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.mf-content-jumbo  .mf-description {
  font-size: 1.2rem;
  font-weight: 600;
}

#mf-portfolio {
  color: black;
}

#mf-portfolio .mf-card  img{
  border-radius: 6px;
}

#mf-about {
  background-color: var(--mf-bgcolor-lightblue);
  color: var(--mf-color-white);
}

#mf-about .row p {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 25px;
}

#mf-contact-me .form-control.mf-form-style {
 border-top: none;
 border-right: none;
 border-left: none;
 border-radius: 0;
 padding: 0;
 padding-bottom: 20px;
}

#mf-contact-me .form-control.mf-form-style::placeholder {
  color: #2c3e50;
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-custom {
  background-color: var(--mf-bgcolor-lightblue);
  border-color: var(--mf-bgcolor-lightblue);
}

/* /MAIN */

/* FOOTER */
footer  {
  color: var(--mf-color-white);
}
footer .mf-top {
  background-color: #3A546D;
  padding: 40px 0px;
  font-weight: 600;
}

footer .mf-top ul {
  list-style: none;
  padding: 0;
}

footer .mf-top .mf-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  line-height: 50px;
}

footer .mf-top .mf-circle i{
  color: white;
  font-size: 1.2rem;
}

footer .mf-top  .mf-link {
  color: var(--mf-bgcolor-lightblue);
  text-decoration: none;
}

footer .mf-bottom {
  background-color: #2C3E50;
  padding: 50px 0;
}
/* /FOOTER */



/* MEDIA  */
@media screen and ( min-width:768px ) {
/* HEADER */
  .navbar-brand.mf-navbar-brand {
    font-size: 1.7rem;
  }
/* /HEADER */

}

/* /MEDIA  */